In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
stroke_df = pd.read_csv("resources/healthcare-dataset-stroke-data.csv")
stroke_df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [3]:
stroke_df['stroke'].value_counts()

stroke
0    4861
1     249
Name: count, dtype: int64

In [4]:
stroke_df = stroke_df.dropna()

In [5]:
stroke_df = stroke_df.drop_duplicates()

In [6]:
stroke_df = stroke_df.drop(stroke_df[stroke_df.gender == 'Other'].index)

In [7]:
stroke_df.drop(['id'], axis=1, inplace=True)

In [8]:
stroke_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4908 entries, 0 to 5109
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             4908 non-null   object
 1   age                4908 non-null   float64
 2   hypertension       4908 non-null   int64
 3   heart_disease      4908 non-null   int64
 4   ever_married       4908 non-null   object
 5   work_type          4908 non-null   object
 6   Residence_type     4908 non-null   object
 7   avg_glucose_level  4908 non-null   float64
 8   bmi                4908 non-null   float64
 9   smoking_status     4908 non-null   object
 10  stroke             4908 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 460.1+ KB

In [9]:
stroke_df.isnull().sum()

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [10]:
stroke_df['stroke'].value_counts()

stroke
0    4699
1     209
Name: count, dtype: int64

# Balancing, Encoding, Splitting, Scaling  Data

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import SMOTE

In [12]:
# Class count
class_count_0, class_count_1 = stroke_df['stroke'].value_counts()
print(class_count_0)
print(class_count_1)

class_0 = stroke_df[stroke_df['stroke'] == 0]
class_1 = stroke_df[stroke_df['stroke'] == 1]

4699
209

In [13]:
# Random Undersampling
class_0_under = class_0.sample(class_count_1)
undersampled_df = pd.concat([class_0_under, class_1], axis=0)
print('Random Under Sampling:')
print(undersampled_df['stroke'].value_counts())

Random Under Sampling:
stroke
0    209
1    209
Name: count, dtype: int64

In [14]:
# Random Oversampling
class_1_over = class_1.sample(class_count_0,replace=True)
oversampled_df = pd.concat([class_1_over, class_0], axis=0)
print('Random Over Sampling:')
print(oversampled_df['stroke'].value_counts())

Random Over Sampling:
stroke
1    4699
0    4699
Name: count, dtype: int64

In [15]:
oversampled_df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
103,Female,81.0,0,1,Yes,Self-employed,Rural,78.70,19.4,Unknown,1
68,Male,59.0,0,0,Yes,Private,Urban,86.23,30.0,formerly smoked,1
213,Female,48.0,0,0,Yes,Private,Urban,74.11,20.5,never smoked,1
158,Female,71.0,0,0,Yes,Self-employed,Urban,195.71,34.1,formerly smoked,1
190,Female,65.0,0,0,Yes,Private,Urban,205.77,46.0,formerly smoked,1

In [16]:
balanced_df = pd.get_dummies(oversampled_df, columns=['gender', 'ever_married', 'work_type', 'Residence_type', 'smoking_status'])
balanced_df

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Female,gender_Male,ever_married_No,ever_married_Yes,...,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
103,81.0,0,1,78.70,19.4,1,True,False,False,True,...,False,False,True,False,True,False,True,False,False,False
68,59.0,0,0,86.23,30.0,1,False,True,False,True,...,False,True,False,False,False,True,False,True,False,False
213,48.0,0,0,74.11,20.5,1,True,False,False,True,...,False,True,False,False,False,True,False,False,True,False
158,71.0,0,0,195.71,34.1,1,True,False,False,True,...,False,False,True,False,False,True,False,True,False,False
190,65.0,0,0,205.77,46.0,1,True,False,False,True,...,False,True,False,False,False,True,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5104,13.0,0,0,103.08,18.6,0,True,False,True,False,...,False,False,False,True,True,False,True,False,False,False
5106,81.0,0,0,125.20,40.0,0,True,False,False,True,...,False,False,True,False,False,True,False,False,True,False
5107,35.0,0,0,82.99,30.6,0,True,False,False,True,...,False,False,True,False,True,False,False,False,True,False
5108,51.0,0,0,166.29,25.6,0,False,True,False,True,...,False,True,False,False,True,False,False,True,False,False
5109,44.0,0,0,85.28,26.2,0,True,False,False,True,...,False,False,False,False,False,True,True,False,False,False

In [17]:
balanced_df['stroke'].value_counts()

stroke
1    4699
0    4699
Name: count, dtype: int64

In [18]:
balanced_df.columns

Index(['age', 'hypertension', 'heart_disease', 'avg_glucose_level', 'bmi',
       'stroke', 'gender_Female', 'gender_Male', 'ever_married_No',
       'ever_married_Yes', 'work_type_Govt_job', 'work_type_Never_worked',
       'work_type_Private', 'work_type_Self-employed', 'work_type_children',
       'Residence_type_Rural', 'Residence_type_Urban',
       'smoking_status_Unknown', 'smoking_status_formerly smoked',
       'smoking_status_never smoked', 'smoking_status_smokes'],
      dtype='object')

In [19]:
scaler = StandardScaler()
scaled_num_col = ['age', 'avg_glucose_level', 'bmi']
balanced_df[scaled_num_col] = scaler.fit_transform(balanced_df[scaled_num_col])
balanced_df.head()

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Female,gender_Male,ever_married_No,ever_married_Yes,...,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
103,1.179828,0,1,-0.738568,-1.414144,1,True,False,False,True,...,False,False,True,False,True,False,True,False,False,False
68,0.188437,0,0,-0.604384,0.052075,1,False,True,False,True,...,False,True,False,False,False,True,False,True,False,False
213,-0.307258,0,0,-0.820361,-1.261989,1,True,False,False,True,...,False,True,False,False,False,True,False,False,True,False
158,0.729196,0,0,1.346543,0.619197,1,True,False,False,True,...,False,False,True,False,False,True,False,True,False,False
190,0.458817,0,0,1.525811,2.265236,1,True,False,False,True,...,False,True,False,False,False,True,False,True,False,False

In [20]:
X = balanced_df.drop(columns='stroke')
y =  balanced_df['stroke']

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(7048, 20)

In [22]:
st = SMOTE()
X_train_resampled, y_train_resampled = st.fit_resample(X_train, y_train)
X_train_resampled.shape, y_train_resampled.value_counts()

((7048, 20),
 stroke
 0    3524
 1    3524
 Name: count, dtype: int64)

# Machine Learning Models

In [23]:
from sklearn.tree import DecisionTreeClassifier 
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
%matplotlib inline

## Decision Tree

In [24]:
# Train Decision Tree Model
dt_model = DecisionTreeClassifier(criterion='entropy', random_state=1)
dt_model = dt_model.fit(X_train_resampled, y_train_resampled)
dt_model

DecisionTreeClassifier(criterion='entropy', random_state=1)

In [25]:
# Make predictions 
dt_predictions = dt_model.predict(X_test)
dt_predictions

array([1, 1, 1, ..., 1, 0, 0])

In [26]:
# Evaluate Model
cm_dt = confusion_matrix(y_test, dt_predictions)
tree_df = pd.DataFrame(
    cm_dt, index=['Actual No Stroke', "Actual Stroke"], columns = ['Predicted No Stroke', 'Predicted Stroke']
)
dt_acc_score = accuracy_score(y_test,dt_predictions)
print("Confusion Matrix")
display(tree_df)
print(f"Accuracy Score : {dt_acc_score}")
print("Classification Report")
print(classification_report(y_test, dt_predictions))

Confusion Matrix

                  Predicted No Stroke  Predicted Stroke
Actual No Stroke                 1106                69
Actual Stroke                       0              1175

Accuracy Score : 0.9706382978723405
Classification Report
              precision    recall  f1-score   support

           0       1.00      0.94      0.97      1175
           1       0.94      1.00      0.97      1175

    accuracy                           0.97      2350
   macro avg       0.97      0.97      0.97      2350
weighted avg       0.97      0.97      0.97      2350